[submodule "frontend"]
	path = frontend
	url = https://github.com/essence-community/core-frontend.git
	branch = master_patch
[submodule "backend"]
	path = backend
	url = https://github.com/essence-community/core-backend.git
	branch = master_patch
