[submodule "frontend"]
	path = frontend
	url = https://github.com/essence-community/core-frontend.git
	branch = 2.0.0
[submodule "backend"]
	path = backend
	url = https://github.com/essence-community/core-backend.git
	branch = 2.0.0
