[submodule "frontend"]
	path = frontend
	url = https://github.com/essence-community/core-frontend.git
	branch = release/3.0.4
[submodule "backend"]
	path = backend
	url = https://github.com/essence-community/core-backend.git
	branch = release/3.0.4
